body{
    background-image: url("images/morning.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1{
    text-align: center;
}

ul{
    list-style: none;
}

li{
    border: 10px;
}

button{
    margin: 10px;
}

input{
    width: 300px;
    padding: 10px;
    margin: 8px;
    border: none;
    border-radius: 4px;
}

button{
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: #45a049;
}
